body {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    border-width: 15px;
    border-style:groove;
    border-radius: 50px;
    max-width: 350px;
    height: auto;
}

.body{
    background-color: rgba(0, 102, 255, 0.644);
    border-radius: 35px;
    padding: 30px;
}

.display-container {
    transition: 1.5s;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
    overflow:auto;
}

.buttons {
    display: grid;
    gap: 15px;
    grid-template-columns: 60% auto;
    background-color: rgba(0, 0, 255, 0);
}

.section-div{
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
}

.buttons input{
    transition: 1s;
    border-radius: 30px;
    max-width: 100%;
    height: 50px;
    font-size: larger;
    font-weight: bolder;
}

.buttons input:hover{
    transition: 0s;
    background-color: rgba(193, 204, 255, 0.692);
}

.buttons input:focus{
    transition: 0s;
    background-color: rgba(0, 47, 255, 0.692);
}

.digits {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto;
}

.operators {
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
}

.functions {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
}

/**********/

#clear{
    background-color: rgb(255, 110, 110);
}
#clear:hover{
    transition: 0s;
    background-color: rgb(255, 188, 188);
}
#clear:focus{
    transition: 0s;
    background-color: rgb(255, 0, 0);
}

#delete{
    background-color: rgb(255, 255, 125);
}
#delete:hover{
    transition: 0s;
    background-color: rgb(255, 255, 206);
}
#delete:focus{
    transition: 0s;
    background-color: rgb(255, 255, 0);
}

#equal{
    background-color: rgb(87, 255, 87);
}
#equal:hover{
    background-color: rgb(191, 255, 191);
}
#equal:focus{
    background-color: rgb(0, 255, 0);
}